@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

:root {
  --background: #F5F4E0;
  --foreground: #1E3227;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F4E0;
    --foreground: #1E3227;
  }
}



html {
  scroll-behavior: smooth;
}

